<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-indigo" layout="row">
        <h1 class="md-toolbar-tools">Main menu</h1>
        <md-button aria-label="Back" ng-click="closeNav()">
            <md-icon md-svg-src="/assets/img/icons/ic_arrow_back_36px_white.svg" style="width:24px;height:24px;"></md-icon>
        </md-button>
    </md-toolbar>
    <md-content ng-repeat="item in menuitems">
        <md-toolbar class="navigate-par" layout="column" ng-if="item.allow" ng-click="item.show=!item.show">
            <h5 class="md-toolbar-tools" ng-bind="item.name"></h5>
        </md-toolbar>
        <md-content ng-show="item.show" ng-if="item.allow">
            <md-list>
                <md-item ng-repeat="subitem in item.subitems">
                    <md-item-content>
                        <a
                        class="menu-subitem"
                        ng-href="{{subitem.link}}"
                        ng-bind="subitem.name"
                        ng-if="subitem.show"></a>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </md-content>
</md-sidenav>
