<div class="attribute-fields-box" layout="column" layout-align="start start">
    <md-checkbox ng-model="FullAttr" aria-label="attrPushFull" ng-change="fullAttrChange(FullAttr)" class="md-primary">
        <span class="color-blue">Select All</span>
    </md-checkbox>
    <div class="attribute-field" ng-repeat="attribute in attributes" layout="row" layout-align="start center">
        <span>&nbsp;</span>
        <md-checkbox ng-model="attribute.Push" aria-label="attributePush" ng-true-value="1" ng-false-value="0">
            {{attribute.Name}}
        </md-checkbox>
    </div>
</div>
