<md-subheader class="md-primary">Set Attributes Progress</md-subheader>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_COST</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CCostAverage}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CCostAverage}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_COST_SHIP_AVERAGE</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CCostShipAverage}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CCostShipAverage}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_PRICE_EBAY_BREAKEVEN</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CPriceEbayBreakeven}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CPriceEbayBreakeven}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_PRICE_FMT</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CPriceFmt}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CPriceFmt}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_PRICE_FMT_BREAKEVEN</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CPriceFmtBreakeven}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CPriceFmtBreakeven}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_PRICE_MAP</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CPriceMap}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CPriceMap}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_PRICE_MAPENABLED</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CPriceMapEnabled}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CPriceMapEnabled}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_PRICE_MSRP</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CPriceMsrp}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CPriceMsrp}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">D_MFG_TITLE</span>
        <md-progress-linear md-mode="determinate" value="{{progress.DMdfTitle}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.DMdfTitle}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<!-- -->
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_KIT_OR_SINGLE</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CKitSingle}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CKitSingle}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
<div layout class="special_attr-container">
    <div layout="row" layout-align="start center" flex="100" class="special_attr-box">
        <span class="attr-progress-title">C_KIT_INCLUDES</span>
        <md-progress-linear md-mode="determinate" value="{{progress.CKitIncl}}"></md-progress-linear>
        <span class="attr-progress-value">{{progress.CKitIncl}}</span><span class="attr-progress-suffix">%</span>
    </div>
</div>
