<h4 class="orange-color">DC Center Manage</h4>
<md-whiteframe layout="column" layout-align="start start" layout-margin layout-padding class="attr-panel">
    <md-button class="md-raised" ng-click="AddCenter()" ng-hide="HideAddCenter" id="addcenterbtn">Add DC Center</md-button>
    <div id="addhook" class="form-group center-control-panel" layout="row" layout-align="start center" ng-show="NewCenterShow">
        <label for="title-control">DCCenter:</label>
        <input type="text" class="form-control item-input-control" id="title-control" ng-model="newcenter.DCCenter" maxlength="100">
        <span>{{newcenter.DCCenter.toString().length}}/100</span>
        <label class="location-label">LocationId</label>
        <md-input-container>
            <input class="nice-input" ng-model="newcenter.LocationId" type="number" aria-label="loc" min="0">
        </md-input-container>
        <div layout="row" latout-align="start center">
            <md-button class="md-raised" ng-click="createCenter(newcenter)" ng-disabled="newcenter.DCCenter.toString().length ===0">Save</md-button>
            <md-button class="md-raised" ng-click="Discard()">Discard</md-button>
        </div>
    </div>
</md-whiteframe>
<div class="alert alert-danger alert-dismissible" role="alert" flex-gt-sm="50" flex-xs="100" flex-sm="80" ng-show="fault">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="fault=!fault">&times;</span></button>
    <strong>Fault!</strong> Default DCCenter is specified twice
</div>
<table class="table table-striped table-bordered table-condensed" layout-padding flex-gt-sm="50" flex-xs="100" flex-sm="80" ng-if="centers.length">
    <thead>
        <tr>
            <th>DCCenter</th>
            <th>LocationId</th>
            <th>DCType</th>
            <th>Delete</th>
            <th>Save</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="center in centers">
            <td ng-bind="center.DCCenter"></td>
            <td class="center-table-loc">
                <md-input-container>
                    <input class="nice-input" ng-model="center.LocationId" type="number" aria-label="loc" min="0">
                </md-input-container>
            </td>
            <td class="center-table-loc">
                <md-input-container>
                    <!--<input class="nice-input" ng-model="center.DCType" type="text" aria-label="loc">-->
                    <select ng-model="center.DCType">
                        <option ng-repeat="option in dctype" ng-value="option.dctype">{{option.dctype}}</option>
                    </select>
                </md-input-container>
            </td>
            <td class="center-table-delete">
                <md-button class="md-raised" ng-click="deleteCenter(center)">Delete</md-button>
            </td>
            <td class="center-table-update">
                <md-button class="md-raised" ng-click="updateCenter(center)">Save</md-button>
            </td>
        </tr>
    </tbody>
</table>
