<h4 class="orange-color">Mapping</h4>
<div layout-padding>
    <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>MfgCode</th>
                    <th class="map-flag-title">Map</th>
                    <th class="map-button-title">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td ng-bind="item.mfgcode"></td> 
                    <td class="map-flag">
                        <md-checkbox 
                            ng-model="item.map" 
                            ng-true-value="1"
                            ng-false-value="0"
                            ng-change="ChangeTrigger(item)"
                            aria-label="item_map">
                        </md-checkbox>
                    </td>
                    <td class="map-button">
                        <md-button 
                            ng-disabled="!item.dirty" 
                            class="md-raised md-primary"
                            ng-click=Save(item)>
                            Save
                        </md-button>
                    </td>
                </tr>
            </tbody>
    </table>
</div>
