<h4 class="orange-color">NonStandard C_PRICE_MAP Manage</h4>
<md-whiteframe layout="column" layout-align="start start" layout-margin layout-padding class="attr-panel" flex-gt-sm="50" flex-xs="100" flex-sm="80">
    <md-button class="md-raised" ng-click="AddNscpMap()" ng-hide="HideAddMap" id="addcenterbtn">Add PriceMap</md-button>
    <div id="addhook" class="form-group center-control-panel" layout="row" layout-align="start center" ng-show="NewMapShow">
        <label for="title-control">Sku:</label>
        <input type="text" class="form-control item-input-control" id="title-control" ng-model="newmap.Sku" maxlength="32">
        <span>{{newmap.Sku.toString().length}}/32</span>
        <label for="title-control">Price:</label>
        <input type="number" class="form-control item-input-control" id="title-control" ng-model="newmap.Price" step="0.01">
        <div layout="row" latout-align="start center">
            <md-button class="md-raised" ng-click="createMap(newmap)" ng-disabled="newmap.Sku.toString().length ===0">Save</md-button>
            <md-button class="md-raised" ng-click="Discard()">Discard</md-button>
        </div>
    </div>
</md-whiteframe>
<table class="table table-striped table-bordered table-condensed" layout-padding flex-gt-sm="50" flex-xs="100" flex-sm="80" ng-if="nscpmaps.length">
    <thead>
    <tr>
        <th>Sku</th>
        <th>Price</th>
        <th>Delete</th>
        <th>Save</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="nscpmap in nscpmaps">
        <td ng-bind="nscpmap.Sku"></td>
        <td>
            <md-input-container>
                <input class="nice-input" ng-model="nscpmap.Price" type="text" aria-label="nsprice">
            </md-input-container>
        </td>
        <td class="center-table-delete">
            <md-button class="md-raised" ng-click="deleteRec(nscpmap)">Delete</md-button>
        </td>
        <td class="center-table-update">
            <md-button class="md-raised" ng-click="updateRec(nscpmap)">Save</md-button>
        </td>
    </tr>
    </tbody>
</table>