<div layaout="column" layout-padding>
    <div layout="row" layout-align="start start" class="search-criteria-box-header">
        <md-subheader class="md-primary">Site Order ID</md-subheader>
        <md-subheader class="md-primary">Order Date From:</md-subheader>
        <md-subheader class="md-primary">Order Date To:</md-subheader>
    </div>
    <div layout="row" layout-align="start start" class="search-criteria-box">
        <md-input-container class="md-block orderid-search">
            <label>Order ID</label>
            <input ng-model="criteria.SiteOrderID" ng-change="OrderIDChange(criteria.SiteOrderID)">
          </md-input-container>
          <md-datepicker ng-model="criteria.OrderDateFrom" md-placeholder="From:" ng-change="DateFromChange(criteria.OrderDateFrom)"></md-datepicker>
          <md-datepicker ng-model="criteria.OrderDateTo" md-placeholder="To:" ng-change="DateToChange(criteria.OrderDateTo)"></md-datepicker>
          <div layout="row" layout-align="start start" class="search-btn-group">
              <md-button class="md-raised md-primary" ng-click="SetCriteria(criteria)">Filter</md-button>
              <md-button class="md-raised md-warn" ng-click="ResetCriteria()">Reset</md-button>
          </div>
    </div>
    <div class="order-table" layout-padding>
        <div class="order-table-head" layout="row" layout-align="start center">
            <div><i class="fa fa-object-group"></i></div>
            <div>Overall Status</div>
            <div>Site Name</div>
            <div>Site Order ID</div>
            <div>Buyer</div>
            <div>SKU</div>
            <div>Title</div>
            <div>Order Date</div>
            <div>Shipment Status Date</div>
            <div>Payment Type</div>
            <div>Qty</div>
            <div>Order Total</div>
        </div>
        <div class="order-table-body">
            <div ng-repeat="order in orders">
                <div layout="row" layout-align="start center" class="order-table-body-row">
                    <div>
                        <i class="fa fa-object-group" ng-show="order.showgroup" ng-click="order.showgroup=!order.showgroup"><md-tooltip>group</md-tooltip></i>
                        <i class="fa fa-object-ungroup" ng-hide="order.showgroup" ng-click="order.showgroup=!order.showgroup"><md-tooltip>ungroup</md-tooltip></i>
                    </div>
                    <div layout="column" layout-align="space-around center">
                        <div layout="row" layout-align="space-around center" class="order-status">
                            <i class="fa fa-shopping-cart" data-color="{{order.CheckoutStatus|merge}}">
                                <md-tooltip>{{order.CheckoutStatus}}</md-tooltip>
                            </i>
                            <i class="fa fa-money" data-color="{{order.PaymentStatus|merge}}">
                                <md-tooltip>{{order.PaymentStatus}}</md-tooltip>
                            </i>
                            <i class="fa fa-flip-horizontal fa-truck" data-color="{{order.ShippingStatus|merge}}">
                                <md-tooltip>{{order.ShippingStatus}}</md-tooltip>
                            </i>
                            <i class="fa fa-undo" data-color="{{order.RefundStatus|merge}}">
                                <md-tooltip>{{order.RefundStatus}}</md-tooltip>
                            </i>
                        </div>
                    </div>
                    <div ng-bind="order.SiteName"></div>
                    <div>
                        <a ng-href="/order/single/?orderId={{order.SiteOrderID}}" ng-bind="order.SiteOrderID" target="_blank"></a>
                    </div>
                    <div>
                        <a ng-href="mailto:{{order.Buyer}}" ng-bind="order.Buyer"></a>
                    </div>
                    <div></div>
                    <div></div>
                    <div ng-bind="order.OrderDate"></div>
                    <div ng-bind="order.ShipmentStatusDate"></div>
                    <div><i ng-class="'fa fa-'+order.PaymentType|lowercase">
                            <md-tooltip>{{order.PaymentType}}</md-tooltip>
                        </i>
                    </div>
                    <div ng-bind="order.totalqty"></div>
                    <div ng-bind="order.OrderTotal"></div>
                </div>
                <div ng-repeat="suborder in order.suborders" layout="row" layout-align="start center" class="suborder-table-body-row" ng-show="order.showgroup">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div>
                        <a ng-href="/product/?sku={{suborder.SKU}}" ng-bind="suborder.SKU" target="_blank"></a>
                    </div>
                    <div ng-bind="suborder.Title"></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div ng-bind="suborder.Quantity"></div>
                    <div ng-bind="suborder.UnitPrice"></div>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="start center" class="paginator">
        <md-button md-no-ink class="md-icon-button md-primary" ng-show="(paginator.currentpage>'1')?true:false" ng-click="paginator.GetPage(1)">
            1
        </md-button>
        <md-button md-no-ink class="md-icon-button md-primary" ng-show="(paginator.currentpage>'1')?true:false" ng-click="paginator.GetPage(paginator.previouspage)" aria-label="previous_page">
            <md-icon md-svg-icon="/assets/img/icons/ic_chevron_left_48px.svg"></md-icon>
        </md-button>
        <span class="dots" ng-show="(paginator.currentpage>'1')?true:false">...</span>
        <span class="md-primary dots">{{paginator.currentpage}}</span>
        <span class="dots" ng-show="(paginator.currentpage<paginator.lastpage)?true:false">...</span>
        <md-button md-no-ink class="md-icon-button md-primary" aria-lable="next" ng-click="paginator.GetPage(paginator.nextpage)" ng-show="(paginator.currentpage<paginator.lastpage)?true:false" aria-label="next_page">
            <md-icon md-svg-icon="/assets/img/icons/ic_chevron_right_48px.svg"></md-icon>
        </md-button>
        <md-button md-no-ink class="md-icon-button md-primary" aria-lable="last" ng-click="paginator.GetPage(paginator.lastpage)" ng-show="(paginator.currentpage<paginator.lastpage)?true:false">
            {{paginator.lastpage}}
        </md-button>
    </div>
</div>
