<div layout="column" layout-align="start start" layout-padding>
    <div layout="row" layout-align="start center">
        <h4 class="orange-color order-title" ng-bind="order.Account"></h4>
        <h4 class="orange-color order-title" ng-bind="order.SiteName"></h4>
        <h4 class="orange-color order-title">Order ID :</h4>
        <h4 class="order-title" ng-bind="order.SiteOrderID"></h4>
    </div>
    <div layout="row" layout-align="start center" class="order-single-status">
        <div class="order-single-status-item">
            <i class="fa fa-user"></i>
        </div>
        <div class="order-single-status-item">
            <i class="fa fa-envelope"></i>
            <span ng-bind="order.Buyer"></span>
        </div>
        <div class="order-single-status-item">
            <i class="fa fa-shopping-cart" data-color="{{order.CheckoutStatus|merge}}"></i>
            <span ng-bind="order.CheckoutStatus" data-color="{{order.CheckoutStatus|merge}}"></span>
        </div>
        <div class="order-single-status-item">
            <i class="fa fa-money" data-color="{{order.PaymentStatus|merge}}"></i>
            <span ng-bind="order.OrderTotal" data-color="{{order.PaymentStatus|merge}}"></span>
            <span ng-bind="order.PaymentStatus" data-color="{{order.PaymentStatus|merge}}"></span>
        </div>
        <div class="order-single-status-item">
            <i class="fa fa-cube"></i>
            <span ng-bind="order.Fulfillment"></span>
        </div>
        <div class="order-single-status-item">
            <i class="fa fa-flip-horizontal fa-truck" data-color="{{order.ShippingStatus|merge}}"></i>
            <span ng-bind="order.ShippingStatus" data-color="{{order.ShippingStatus|merge}}"></span>
            <span data-color="{{order.ShippingStatus|merge}}" ng-if="order.TotalQty>0">({{order.TotalQty}} items)</span>
        </div>
    </div>
    <md-content class="order-detail">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Details">
                <md-content class="md-padding">
                    <div layout="row" layout-align="start start" layout-padding>
                        <div layout="column" layout-align="start start" layout-padding class="order-detail-list">
                            <div class="order-detail-list-group">
                                <p>
                                    <span>Order Total:</span>
                                    <span>${{order.OrderTotal}}</span>
                                </p>
                                <p>
                                    <span>Line Items:</span>
                                    <span>{{order.TotalQty}}</span>
                                </p>
                                <p>
                                    <span>Order Date:</span>
                                    <span>{{order.OrderDate}}</span>
                                </p>
                                <p>
                                    <span>Order Imported:</span>
                                    <span>{{order.OrderImportDate}}</span>
                                </p>
                            </div>
                            <div class="order-detail-list-group">
                                <p>
                                    <span>Checkout Status:</span>
                                    <span data-color="{{order.CheckoutStatus|merge}}">{{order.CheckoutStatus}}</span>
                                </p>
                                <p>
                                    <span>Payment Status:</span>
                                    <span data-color="{{order.PaymentStatus|merge}}">{{order.PaymentStatus}}</span>
                                    <span class="status-date">{{order.PaymentStatusDate}}</span>
                                </p>
                                <p>
                                    <span>Shipment Status:</span>
                                    <span data-color="{{order.ShippingStatus|merge}}">{{order.ShippingStatus}}</span>
                                    <span class="status-date">{{order.ShipmentStatusDate}}</span>
                                </p>
                            </div>
                            <div class="order-detail-list-group">
                                <p>
                                    <span>Payment Type:</span>
                                    <span>{{order.PaymentType}}</span>
                                </p>
                                <p>
                                    <span>Payment Transaction ID:</span>
                                    <span>{{order.PaymentTransactionID}}</span>
                                </p>
                            </div>
                            <div class="order-detail-list-group">
                                <h4>Shipping</h4>
                                <p>
                                    <span>Name:</span>
                                    <span>{{order.ShippingFirstName}}</span>
                                    <span class="status-date">{{order.ShippingLastName}}</span>
                                </p>
                                <p>
                                    <span>Address:</span>
                                    <span>{{order.ShippingAddressLine1}}</span>
                                </p>
                                <p>
                                    <span></span>
                                    <span>{{order.ShippingAddressLine2}}</span>
                                </p>
                                <p>
                                    <span>&nbsp;</span>
                                    <span>{{order.ShippingCity}}, {{order.ShippingStateorProvince}}</span>
                                    <span>&nbsp;</span>
                                    <span>{{order.ShippingPostalCode}}</span>
                                </p>
                                <p>
                                    <span>&nbsp;</span>
                                    <span>{{order.ShippingCountry}}</span>
                                </p>
                                <p>
                                    <span>Email:</span>
                                    <span>{{order.Buyer}}</span>
                                </p>
                                <p>
                                    <span>Phone</span>
                                    <span>{{order.ShippingDayPhone}}</span>
                                    <span ng-if="order.ShippingEvnenigPhone">,&nbsp;</span>
                                    <span ng-if="order.ShippingEvnenigPhone">{{order.ShippingEvenenigPhone}}</span>
                                </p>
                                <p layout="row">
                                    <span>Instructions:</span>
                                    <span class="order-instructions">{{order.SpecialInstructions}}</span>
                                </p>
                            </div>
                        </div>
                        <div layout="column" layout-align="start start" layout-padding class="order-detail-list">
                            <div class="order-detail-list-group">
                                <p>
                                    <span>SiteOrder ID:</span>
                                    <span>{{order.SiteOrderID}}</span>
                                </p>
                                <p>
                                    <span>ChannelAdvisor Order ID:</span>
                                    <span>{{order.ChannelAdvisorOrderID}}</span>
                                </p>
                                <p>
                                    <span>Secondary Site Order ID:</span>
                                    <span>{{order.SecondarySiteOrderID}}</span>
                                </p>
                                <p>
                                    <span>Seller Order ID:</span>
                                    <span>{{order.SellerOrderID}}</span>
                                </p>
                            </div>
                            <div class="order-detail-list-group">
                                <h4>Billing</h4>
                                <p>
                                    <span>Name:</span>
                                    <span>{{order.BillingFirstName}}</span>
                                    <span class="status-date">{{order.BillingLastName}}</span>
                                </p>
                                <p>
                                    <span>Address:</span>
                                    <span>{{order.BillingAddressLine1}}</span>
                                </p>
                                <p>
                                    <span></span>
                                    <span>{{order.BillingAddressLine2}}</span>
                                </p>
                                <p>
                                    <span>&nbsp;</span>
                                    <span>{{order.BillingCity}}, {{order.BillingStateorProvince}}</span>
                                    <span>&nbsp;</span>
                                    <span>{{order.BillingPostalCode}}</span>
                                </p>
                                <p>
                                    <span>&nbsp;</span>
                                    <span>{{order.BillingCountry}}</span>
                                </p>
                                <p>
                                    <span>Email:</span>
                                    <span>{{order.Buyer}}</span>
                                </p>
                                <p>
                                    <span>Phone</span>
                                    <span>{{order.BillingDayPhone}}</span>
                                    <span ng-if="order.BillingEvnenigPhone">,&nbsp;</span>
                                    <span ng-if="order.BillingEvnenigPhone">{{order.BillingEvenenigPhone}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Shipment">
                <md-content class="md-padding">
                    <div class="shipment-info" layout="row" layout-align="start center">
                        <span class="orange-color">Tracking Number&nbsp;:&nbsp;</span>
                        <span>{{order.Trackingnumber}}</span>
                    </div>
                    <div layout="column" layout-align="start start" layout-padding class="order-detail-items-table">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <th>SKU</th>
                                <th>Title</th>
                                <th>Quantity</th>
                                <th>Weight</th>
                                <th>Price</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sitem in order.items">
                                    <td>{{sitem.SKU}}</td>
                                    <td>{{sitem.Title}}</td>
                                    <td>{{sitem.Quantity}}</td>
                                    <td>{{sitem.ItemWeight}}</td>
                                    <td>{{sitem.UnitPrice}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Order Total:</td>
                                    <td>{{order.OrderTotal}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Shipping Cost:</td>
                                    <td>{{order.ShippingCost}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Shipping Weight:</td>
                                    <td>{{order.ShippingWeight}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
