<div class="product-fields-box" layout="column" layout-align="start start">
    <md-checkbox ng-model="FullProduct" aria-label="productPushFull" ng-change="fullProductChange(FullProduct)" class="md-primary">
        <span class="color-blue">Select All</span>
    </md-checkbox>
    <div class="product-field" ng-repeat="product in products" layout="row" layout-align="start center">
        <span class="color-red">{{product.Name==='Sku'?'*':'&nbsp;'}}</span>
        <md-checkbox ng-model="product.Push" aria-label="productPush" ng-true-value="1" ng-false-value="0" ng-change="fChange(product)">
            {{product.Name}}
        </md-checkbox>
    </div>
</div>
