<md-whiteframe id="product-header" class="md-whiteframe-2dp" layout="row" layout-align="space-between center">
    <div layout="row">
        <h4 class="orange-color sku-label">SKU</h4>
        <h4 class="orange-color" ng-bind="product.Sku"></h4>
    </div>
    <div class="btns-panel" layout="row" layout-align="space-between center">
        <md-button class="md-raised" ng-click="Save()" ng-if="product.Sku">Save</md-button>
        <md-button class="md-raised" ng-click="SaveExit()" ng-if="product.Sku">Save &amp; Exit</md-button>
        <md-button class="md-raised" ng-click="CancelPage()" ng-if="product.Sku">Cancel</md-button>
        <md-button class="md-raised" ng-click="MarkDelete()" ng-if="product.Sku">Delete</md-button>
    </div>
</md-whiteframe>
<div class="fix"></div>
<div class="product-main-panel" layout="row" layout-align="start start">
    <md-whiteframe class="md-whiteframe-2dp" layout="row" layout-padding layout-align="start start" flex=100>
        <div class="panel panel-default title-box">
            <div class="panel-heading">
                <h3 class="panel-title" ng-bind="product.AuctionTitle"></h3>
            </div>
            <div class="panel-body" layout="row" layout-align="start start">
                <img ng-src="/image/verifyurl/?imgurl='{{product.images[0].URL?product.images[0].URL:''}}'" alt="Image Wrong URL">
                <div layout="column" layout-align="start start" flex=100 class="product-info">
                    <h4 class="orange-color product-title" ng-bind="product.AuctionTitle"></h4>
                    <p>
                        <span>Created at :
                        </span>{{product.CreatedAt}}</p>
                    <p>
                        <span>Updated at :
                        </span>{{product.UpdatedAt}}</p>
                    <p>
                        <span>Channel Advisor Create Date :
                        </span>{{product.ItemCreateDate}}</p>
                    <p>
                        <span>Channel Advisor Last Modified Date :
                        </span>{{product.ItemLastModifiedDate}}</p>
                    <div class="alert alert-danger product-blocked" role="alert" ng-if="product.Blocked==='True'">
                        Product Blocked
                    </div>
                    <div class="alert alert-danger product-blocked" role="alert" ng-if="product.Deleted">
                        Product marked to delete
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default log-box" flex=38>
            <div class="panel-heading">
                <h3 class="panel-title">Log</h3>
            </div>
            <div class="panel-body">
                <p ng-repeat="action in actionlogs" ng-bind="action.action"></p>
            </div>
        </div>
    </md-whiteframe>
</div>
<!-- product main panel-->
<md-whiteframe class="md-whiteframe-2dp product-main-panel">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Product" md-on-select="EnableFlyNav()">
            <md-content layout="column" layout-padding layout-align="start start" flex=100>
                <h4 class="orange-color section-title">Product</h4>
                <div class="basic-info-box" layout="row" layout-align="start start" flex="initial">
                    <div class="items-nav-rel">
                        <a layout="row" layout-align="space-between center" flex=100 data-target="basicinfo" ng-click="SpyScroll($event)">
                            <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="basic"></md-icon>
                            <span>Basic Info</span>
                            <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="basic"></md-icon>
                        </a>
                        <a layout="row" layout-align="space-between center" flex=100 data-target="labels" ng-click="SpyScroll($event)">
                            <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="labels"></md-icon>
                            <span>Labels</span>
                            <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="labels"></md-icon>
                        </a>
                        <a layout="row" layout-align="space-between center" flex=100 data-target="pricing" ng-click="SpyScroll($event)">
                            <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="pricing"></md-icon>
                            <span>Pricing</span>
                            <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="pricing"></md-icon>
                        </a>
                        <a layout="row" layout-align="space-between center" flex=100 data-target="quantity" ng-click="SpyScroll($event)">
                            <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="quantity"></md-icon>
                            <span>Quantity</span>
                            <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="quantity"></md-icon>
                        </a>
                        <a layout="row" layout-align="space-between center" flex=100 data-target="attributes" ng-click="SpyScroll($event)">
                            <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="attributes"></md-icon>
                            <span>Attributes</span>
                            <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="attributes"></md-icon>
                        </a>
                        <a layout="row" layout-align="space-between center" flex=100 data-target="bundleinfo" ng-click="SpyScroll($event)" ng-if="product.bundle.length>0">
                            <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="bundleinfo"></md-icon>
                            <span>Bundle Info</span>
                            <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="channeladvisor"></md-icon>
                        </a>
                        <a layout="row" layout-align="space-between center" flex=100 data-target="channeladvisor" ng-click="SpyScroll($event)">
                            <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="channeladvisor"></md-icon>
                            <span>Channeladvisor</span>
                            <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="channeladvisor"></md-icon>
                        </a>
                    </div>
                    <div layout-padding layout="column" layout-align="start start" class="items-panel-basicinfo">
                        <h4 class="orange-color sku-label info-title" id="basicinfo">Basic info</h4>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="sku-control">
                                <span class="color-red">*</span>SKU:</label>
                            <p class="form-control item-input-control" id="sku-control" ng-bind="product.Sku" maxlength="50"></p>
                        </div>
                        <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                            <p layout="row" layout-align="space-between end">
                                <label flex=70>SKU Type:</label>
                                <span ng-bind="product.SKUType"></span>
                            </p>
                        </div>
                        <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                            <p layout="row" layout-align="space-between end">
                                <label flex=70>Relationship Name:</label>
                                <span ng-bind="product.RelationshipName"></span>
                            </p>
                        </div>
                        <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                            <p layout="row" layout-align="space-between end">
                                <label flex=70>Variation Parent SKU:</label>
                                <a ng-href="/product/?sku={{product.VariationParentSKU}}" ng-bind="product.VariationParentSKU" target="_blank"></a>
                            </p>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="isblocked-control">Blocked:</label>
                            <md-switch id="isblocked-control" ng-model="product.Blocked" aria-label="Blocked" ng-true-value="'True'" ng-false-value="'False'" disabled></md-switch>
                            <span ng-if="product.Blocked==='True'">Product is blocked</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="blockcomment-control">Blocked Comment:</label>
                            <input type="text" class="form-control item-input-control" id="blockcomment-control" ng-model="product.BlockedComment" ng-disabled="true">
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="auction-title-control">
                                <span class="color-red">*</span>Auction Title:</label>
                            <p class="form-control item-input-control" id="auction-title-control" ng-bind="::product.AuctionTitle"></p>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="subtitle-control">Sub Title:</label>
                            <input type="text" class="form-control item-input-control" id="subtitle-control" ng-model="product.InventorySubTitle" maxlength="255">
                            <span>{{product.InventorySubTitle.toString().length}}/255</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="brand-control">Brand:</label>
                            <input type="text" class="form-control item-input-control" id="brand-control" ng-model="product.Brand" maxlength="150">
                            <span>{{product.Brand.toString().length}}/150</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="manufacturer-control">Manufacturer:</label>
                            <input type="text" class="form-control item-input-control" id="manufacturer-control" ng-model="product.Manufacturer" maxlength="255">
                            <span>{{product.Manufacturer.toString().length}}/255</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="condition-control" class="select-label">Condition:</label>
                            <md-input-container>
                                <md-select id="condition-control" ng-model="product.Condition" aria-label="condition">
                                    <md-option ng-repeat="condition in conditions" value="{{condition}}">
                                        {{condition}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="asin-control">ASIN:</label>
                            <input type="text" class="form-control item-input-control" id="asin-control" ng-model="product.ASIN" maxlength="14">
                            <span>{{product.ASIN.toString().length}}/14</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="upc-control">UPC:</label>
                            <input type="text" class="form-control item-input-control" id="upc-control" ng-model="product.UPC" maxlength="20">
                            <span>{{product.UPC.toString().length}}/20</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="mpn-control">MPN:</label>
                            <input type="text" class="form-control item-input-control" id="mpn-control" ng-model="product.MPN" maxlength="50">
                            <span>{{product.MPN.toString().length}}/50</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="isbn-control">ISBN:</label>
                            <input type="text" class="form-control item-input-control" id="isbn-control" ng-model="product.ISBN" maxlength="29" ng-disabled="true">
                            <span>{{product.ISBN.toString().length}}/29</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="ean-control">EAN:</label>
                            <input type="text" class="form-control item-input-control" id="ean-control" ng-model="product.EAN" maxlength="20" ng-disabled="true">
                            <span>{{product.EAN.toString().length}}/20</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="harmonizedcode-control">Harmonized Code:</label>
                            <input type="text" class="form-control item-input-control" id="harmonizedcode-control" ng-model="product.HarmonizedCode" maxlength="20" ng-disabled="true">
                            <span>{{product.HarmonizedCode.toString().length}}/20</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="height-control">Height (inches):</label>
                            <input type="number" class="form-control item-input-control" id="height-control" ng-model="product.Height">
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="length-control">Length (inches):</label>
                            <input type="number" class="form-control item-input-control" id="length-control" ng-model="product.Length">
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="width-control">Width (inches):</label>
                            <input type="number" class="form-control item-input-control" id="width-control" ng-model="product.Width">
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="weight-control">Weight (lb):</label>
                            <input type="number" class="form-control item-input-control" id="weight-control" ng-model="product.Weight">
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="supplier-control">Supplier Code:</label>
                            <input type="text" class="form-control item-input-control" id="supplier-control" ng-model="product.SupplierCode" maxlength="50">
                            <span>{{product.SupplierCode.toString().length}}/50</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="supplierpo-control">Supplier PO:</label>
                            <input type="text" class="form-control item-input-control" id="supplierpo-control" ng-model="product.SupplierPO" maxlength="255" ng-disabled="true">
                            <span>{{product.SupplierPO.toString().length}}/255</span>
                        </div>
                        <div class="form-group item-control-panel flags-select" layout="row" layout-align="start center">
                            <label for="flag-control" class="select-label">Flag:</label>
                            <md-input-container>
                                <md-select id="flag-control" ng-model="product.FlagStyle" aria-label="flag" ng-disabled="true">
                                    <md-option ng-repeat="flag in flags" value="{{flag}}" flex layout="row" layout-align="start center">
                                        <span class="{{flag | lowercase}}"></span>
                                        <span>{{flag==='NoFlag'?flag:""}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="flagdescription-control">Flag Description:</label>
                            <input type="text" class="form-control item-input-control" id="flagdescription-control" ng-model="product.FlagDescription" maxlength="100" ng-disabled="true">
                            <span>{{product.FlagDescription.toString().length}}/100</span>
                        </div>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="warranty-control">Warranty:</label>
                            <input type="text" class="form-control item-input-control" id="warranty-control" ng-model="product.Warranty" maxlength="255">
                            <span>{{product.Warranty.toString().length}}/255</span>
                        </div>
                        <p class="ca-info" layout="row" layout-align="space-between end">
                            <label flex=70>Received In Inventory:</label>
                            <span ng-bind="product.ReceivedInInventory"></span>
                        </p>
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="warehouselocation-control">Warehouse Location:</label>
                            <input type="text" class="form-control item-input-control" id="warehouselocation-control" ng-model="product.WarehouseLocation" maxlength="255">
                            <span>{{product.WarehouseLocation.toString().length}}/255</span>
                        </div>
                        <!--Short Description-->
                        <section class="form-group item-control-panel editor-container" layout="column" layout-align="start start">
                            <label for="short-description-code">Short Description:</label>
                            <div class="panel panel-default text-editor">
                                <div class="panel-body" id="short-description-code">
                                </div>
                            </div>
                        </section>
                        <!--End Short Description-->
                        <!--Description-->
                        <section class="form-group item-control-panel editor-container" layout="column" layout-align="start start">
                            <label for="description-code">Description:</label>
                            <div class="panel panel-default text-editor">
                                <div class="panel-body" id="description-code">
                                </div>
                            </div>
                        </section>
                        <!--End Description-->
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="blockcomment-control">Store Meta Description:</label>
                            <input type="text" class="form-control item-input-control" id="metadescription-control" ng-model="product.StoreMetaDescription" maxlength="200" ng-disabled="true">
                            <span>{{product.StoreMetaDescription.toString().length}}/200</span>
                        </div>
                    </div>
                </div>
                <!-- basic-info-box -->
                <div layout-padding layout="column" layout-align="start start" class="items-panel">
                    <h4 class="orange-color sku-label info-title" id="labels">Labels</h4>
                    <div class="form-group item-control-panel" layout="row" layout-align="start center">
                        <label for="label-control">Labels:</label>
                        <input type="text" class="form-control item-input-control" id="label-control" ng-model="product.Labels" maxlength="152" disabled>
                        <span>{{product.Labels?product.Labels.toString().length:0}}/152</span>
                    </div>
                    <div class="labels-container">
                        <div class="checkbox" ng-repeat="label in product.labelslist">
                            <label>
                                <input type="checkbox" ng-model="label.checked" ng-change="setLabel(label)">{{label.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div layout-padding layout="column" layout-align="start start" class="items-panel">
                    <h4 class="orange-color sku-label info-title" id="pricing">Pricing</h4>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="storeprice-control">Store Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="storeprice-control" ng-model="product.ChannelAdvisorStorePrice" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="cost-control">Seller Cost:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="cost-control" ng-model="product.SellerCost" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="retailprice-control">Retail Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="retailprice-control" ng-model="product.RetailPrice" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="startingprice-control">Starting Bid Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="startingprice-control" ng-model="product.StartingBid" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="buyitnowprice-control">Buy It Now Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="buyitnowprice-control" ng-model="product.BuyItNowPrice" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="reserveprice-control">Reserve Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="reserveprice-control" ng-model="product.Reserve" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="secondprice-control">Second Chance Offer Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="secondprice-control" ng-model="product.SecondChanceOfferPrice" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <label for="productmargin-control">Product Margin:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control item-input-control" id="productmargin-control" ng-model="product.ProductMargin" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group item-control-panel priceinfo" layout="row" layout-align="start center">
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Tax Product Code:</label>
                            <span ng-bind="product.TaxProductCode"></span>
                        </p>
                    </div>
                </div>
                <div layout-padding layout="column" layout-align="start start" class="items-panel">
                    <h4 class="orange-color sku-label info-title" id="quantity">Quantity</h4>
                    <div class="form-group item-control-panel" layout="row" layout-align="start center">
                        <label for="blockextqty-control">Block External Quantity:</label>
                        <md-switch id="blockextqty-control" ng-model="product.BlockExternalQuantity" aria-label="blockextqty" ng-true-value="'True'" ng-false-value="'False'" ng-disabled="true"></md-switch>
                    </div>
                    <div class="form-group item-control-panel" layout="row" layout-align="start center">
                        <label for="quantity-control">Quantity:</label>
                        <input type="number" class="form-control item-input-control" id="quantity-control" ng-model="product.Quantity">
                    </div>
                    <div class="item-control-panel" layout="column" layout-align="start start">
                        <div class="form-group attr-control-panel" layout="row" layout-align="start center">
                            <label for="classification-control" class="attribute-label">Quantity Update Type:</label>
                            <md-input-container id="classification-control">
                                <md-select ng-model="product.QuantityUpdateType" aria-label="quantityupdatetype_set">
                                    <md-option ng-repeat="quantityupdatetype in QuantityUpdateTypes" value="{{quantityupdatetype}}">
                                        {{quantityupdatetype}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>DC Quantity:</label>
                            <span ng-bind="product.DCQuantity"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Total Quantity:</label>
                            <span ng-bind="product.TotalQuantity"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Open Quantity:</label>
                            <span ng-bind="product.QuantityOpen"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Pending Checkout:</label>
                            <span ng-bind="product.QuantityPendingCheckout"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Pending Payment:</label>
                            <span ng-bind="product.QuantityPendingPayment"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Pending Shipment:</label>
                            <span ng-bind="product.QuantityPendingShipment"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Open Pooled:</label>
                            <span ng-bind="product.QuantityPooledOpen"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Pooled Pending Checkout:</label>
                            <span ng-bind="product.QuantityPooledPendingCheckout"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Pooled Pending Payment:</label>
                            <span ng-bind="product.QuantityPooledPendingPayment"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Pooled Pending Shipment:</label>
                            <span ng-bind="product.QuantityPooledPendingShipment"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Quantity on eBay:</label>
                            <span ng-bind="product.QuantityoneBay"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Quantity on eBay Pooled:</label>
                            <span ng-bind="product.QuantityoneBayPooled"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Quantity on Amazon:</label>
                            <span ng-bind="product.QuantityonAmazon"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Quantity on Amazon Pooled:</label>
                            <span ng-bind="product.QuantityonAmazonPooled"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Quantity on Rakuten.com Shopping:</label>
                            <span ng-bind="product.QuantityonRakutencomShopping"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Quantity on Rakuten.com Shopping Pooled:</label>
                            <span ng-bind="product.QuantityonRakutencomShoppingPooled"></span>
                        </p>
                        <p class="quantity-info" layout="row" layout-align="space-between end">
                            <label flex=70>Warehouse Location:</label>
                            <span ng-bind="product.WarehouseLocation"></span>
                        </p>
                    </div>
                </div>
                <div layout-padding layout="column" layout-align="start start" class="items-panel">
                    <h4 class="orange-color sku-label info-title" id="attributes">Attributes</h4>
                    <div class="form-group attr-control-panel classificationlist-control" layout="row" layout-align="start center">
                        <label for="classification-control" class="attribute-label">Classification:</label>
                        <md-input-container>
                            <md-select ng-model="product.Classification" aria-label="classification_set" ng-disabled="true">
                                <md-option ng-repeat="classification in product.classificationlist" value="{{classification.name}}">
                                    {{classification.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div ng-repeat="attribute in product.attributes" class="form-group attr-control-panel" layout="row" layout-align="space-between center">
                        <label class="attribute-label">
                            <span ng-if="attribute.Classification===''">*</span>{{attribute.Name}}
                        </label>
                        <!--TODO select type-->
                        <textarea type="text" class="form-control attribute-input" ng-model="attribute.Value" ng-maxlength="1000" ng-if="!attribute.Blocked" ng-show="attribute.Type=='text'"></textarea>
                        <span class="counter" ng-if="!attribute.Blocked" ng-show="attribute.Type=='text'">
                            {{attribute.Value.toString().length}}/1000
                        </span>
                        <md-input-container class="attribute-input-select" ng-if="!attribute.Blocked" ng-show="attribute.Type=='list'">
                            <md-select ng-model="attribute.Value" aria-label="attribute-value-select">
                                <md-option ng-repeat="value in attribute.List" value="{{value}}">
                                    {{value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <p class="form-control shadow-back attr-blocked" ng-bind="::attribute.Value" ng-if="attribute.Blocked"></p>
                    </div>
                </div>
                <div layout-padding layout="column" layout-align="start start" class="items-panel" ng-hide="product.bundle.length==0">
                    <h4 class="orange-color sku-label info-title" id="bundleinfo">Bundle Components</h4>
                    <div layout-padding>
                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Sku</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="child in product.bundle">
                                    <td>
                                        <a ng-href="/product/?sku={{child.childSku}}" ng-bind="child.childSku" target="_blank"></a>
                                    </td>
                                    <td ng-bind="child.Quantity"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div layout-padding layout="column" layout-align="start start" class="items-panel">
                    <h4 class="orange-color sku-label info-title" id="channeladvisor">Channel Advisor</h4>
                    <div class="item-control-panel" layout="column" layout-align="start start">
                        <div class="form-group item-control-panel" layout="row" layout-align="start center">
                            <label for="title-control">Store Title:</label>
                            <input type="text" class="form-control item-input-control" id="title-control" ng-model="product.ChannelAdvisorStoreTitle" maxlength="100" disabled>
                            <span>{{product.ChannelAdvisorStoreTitle.toString().length}}/100</span>
                        </div>
                        <section class="form-group item-control-panel editor-container" layout="column" layout-align="start start">
                            <label for="ca-description-code">Store Description:</label>
                            <div class="panel panel-default ca-description">
                                <div class="panel-body" id="ca-description-code" ng-bind="product.ChannelAdvisorStoreDescription"></div>
                            </div>
                        </section>
                        <p class="ca-info" layout="row" layout-align="space-between end">
                            <label flex=70>Store Category ID:</label>
                            <span ng-bind="product.ChannelAdvisorStoreCategoryID"></span>
                        </p>
                        <p class="ca-info" layout="row" layout-align="space-between end">
                            <label flex=70>Store Category Hierarchy:</label>
                            <span ng-bind="product.ChannelAdvisorStoreCategoryHierarchy"></span>
                        </p>
                        <p class="ca-info" layout="row" layout-align="space-between end">
                            <label flex=70>Store Category Name:</label>
                            <span ng-bind="product.ChannelAdvisorStoreCategoryName"></span>
                        </p>
                        <p class="ca-info" layout="row" layout-align="space-between end">
                            <label flex=70>Store URL:</label>
                            <span ng-bind="product.ChannelAdvisorStoreURL"></span>
                        </p>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Images" md-on-select="DisableFlyNav()">
            <md-content>
                <h4 class="orange-color section-title">Images</h4>
                <div class="btns-panel" layout="row" layout-align="start center">
                    <md-button class="md-raised" ng-click="CreateImg()">Create new</md-button>
                </div>
                <div class="images-container" layout="row" layout-align="start start">
                    <div class="img-box panel panel-default" ng-repeat="image in product.images">
                        <div class="panel-heading">
                            <h3 class="panel-title" ng-bind="image.PlacementName"></h3>
                        </div>
                        <div class="panel-body" layout="row" layout-align="start start">
                            <img class="img-thumbnail" ng-src="/image/verifyurl/?imgurl='{{image.URL}}'" alt="Image Wrong URL">
                            <textarea class="img-url" ng-model="image.URL"></textarea>
                        </div>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised img-clear" ng-click="ClearImg(image)">Clear</md-button>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Shipping" md-on-select="DisableFlyNav()">
            <md-content>
                <h4 class="orange-color section-title">Shipping</h4>
                <div layout="column" layout-align="start start" ng-repeat="shipping in product.shipping" class="shipping-box">
                    <h5 class="ship-title" ng-bind="shipping.DCCode"></h5>
                    <div class="zonename">
                        {{shipping.ShipZoneName}}
                    </div>
                    <div layout="row" layout-align="start center" class="shipping-panel">
                        <div class="carriercode">
                            <label>Carrier Code</label>
                            <p ng-bind="shipping.ShipCarrierCode"></p>
                        </div>
                        <div class="classcode">
                            <label>Class Code</label>
                            <p ng-bind="shipping.ShipCarrierCode"></p>
                        </div>
                        <div class="form-group shipinfo">
                            <label for="reserveprice-control">First Item:</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control item-input-control" id="firstitem-control" ng-model="shipping.ShipRateFirstItem" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group shipinfo">
                            <label for="reserveprice-control">First Item Handling:</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control item-input-control" id="firstitem-control" ng-model="shipping.ShipHandlingFirstItem" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group shipinfo">
                            <label for="reserveprice-control">Each Add'l Item:</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control item-input-control" id="firstitem-control" ng-model="shipping.ShipRateAdditionalItem" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group shipinfo">
                            <label for="reserveprice-control">Each Add'l Item Handling:</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control item-input-control" id="firstitem-control" ng-model="shipping.ShipHandlingAdditionalItem" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-whiteframe>

<div class="items-nav items-nav-rel-hidden">
    <a layout="row" layout-align="space-between center" flex=100 data-target="basicinfo" ng-click="SpyScroll($event)">
        <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="basic"></md-icon>
        <span>Basic Info</span>
        <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="basic"></md-icon>
    </a>
    <a layout="row" layout-align="space-between center" flex=100 data-target="labels" ng-click="SpyScroll($event)">
        <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="labels"></md-icon>
        <span>Labels</span>
        <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="labels"></md-icon>
    </a>
    <a layout="row" layout-align="space-between center" flex=100 data-target="pricing" ng-click="SpyScroll($event)">
        <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="pricing"></md-icon>
        <span>Pricing</span>
        <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="pricing"></md-icon>
    </a>
    <a layout="row" layout-align="space-between center" flex=100 data-target="quantity" ng-click="SpyScroll($event)">
        <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="quantity"></md-icon>
        <span>Quantity</span>
        <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="quantity"></md-icon>
    </a>
    <a layout="row" layout-align="space-between center" flex=100 data-target="attributes" ng-click="SpyScroll($event)">
        <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="attributes"></md-icon>
        <span>Attributes</span>
        <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="attributes"></md-icon>
    </a>
    <a layout="row" layout-align="space-between center" flex=100 data-target="bundleinfo" ng-click="SpyScroll($event)" ng-if="product.bundle.length>0">
        <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="bundleinfo"></md-icon>
        <span>Bundle Info</span>
        <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="channeladvisor"></md-icon>
    </a>
    <a layout="row" layout-align="space-between center" flex=100 data-target="channeladvisor" ng-click="SpyScroll($event)">
        <md-icon md-svg-src="/assets/img/icons/ic_menu_36px.svg" class="s24" aria-label="channeladvisor"></md-icon>
        <span>Channeladvisor</span>
        <md-icon md-svg-src="/assets/img/icons/ic_chevron_right_48px.svg" class="s24" aria-label="channeladvisor"></md-icon>
    </a>
</div>
