<h4 class="orange-color">PRODUCTS PUSH MANAGER</h4>
<md-whiteframe class="md-whiteframe-2dp setpush-panel" layout="row" layout-align="start start">
    <div layout="row" layout-align="start start" flex="60">
        <md-input-container class="setpush-sku-search" layout-padding>
            <label>SKU partial</label>
            <input ng-model="criteria.sku">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="SetCriteria()">Search</md-button>
        <md-button class="md-raised md-warn" ng-click="ClearCriteria()">Clear</md-button>
    </div>
    <div layout="row" layout-align="end start" flex="40">
        <md-button class="md-raised md-primary" ng-click="SetPush()">Set PUSH</md-button>
        <md-button class="md-raised md-warn" ng-click="UnsetPush()">Unset PUSH</md-button>
    </div>
</md-whiteframe>
<table class="table table-striped table-bordered table-condensed" layout-padding>
    <thead>
        <tr>
            <th>Sku</th>
            <th>Auction Title</th>
            <th>Sku Type</th>
            <th>DC Quantity</th>
            <th>Push</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td ng-bind="product.Sku"></td>
            <td ng-bind="product.AuctionTitle"></td>
            <td ng-bind="product.SKUType"></td>
            <td ng-bind="product.DCQuantity"></td>
            <td>
                <md-icon md-svg-src="/assets/img/icons/flag_blue_32px.svg" alt="Unblocked" ng-if="product.Push"></md-icon>
                <md-icon md-svg-src="/assets/img/icons/flag_red_32px.svg" alt="Blocked" ng-if="!product.Push"></md-icon>
            </td>
        </tr>
    </tbody>
</table>
<div layout="row" layout-align="start center" class="paginator">
    <md-button md-no-ink class="md-icon-button md-primary" ng-show="(paginator.currentpage>'1')?true:false" ng-click="paginator.GetPage(1)">
        1
    </md-button>
    <md-button md-no-ink class="md-icon-button md-primary" ng-show="(paginator.currentpage>'1')?true:false" ng-click="paginator.GetPage(paginator.previouspage)" aria-label="previous_page">
        <md-icon md-svg-icon="/assets/img/icons/ic_chevron_left_48px.svg"></md-icon>
    </md-button>
    <span class="dots" ng-show="(paginator.currentpage>'1')?true:false">...</span>
    <span class="md-primary dots">{{paginator.currentpage}}</span>
    <span class="dots" ng-show="(paginator.currentpage<paginator.lastpage)?true:false">...</span>
    <md-button md-no-ink class="md-icon-button md-primary" aria-lable="next" ng-click="paginator.GetPage(paginator.nextpage)" ng-show="(paginator.currentpage<paginator.lastpage)?true:false" aria-label="next_page">
        <md-icon md-svg-icon="/assets/img/icons/ic_chevron_right_48px.svg"></md-icon>
    </md-button>
    <md-button md-no-ink class="md-icon-button md-primary" aria-lable="last" ng-click="paginator.GetPage(paginator.lastpage)" ng-show="(paginator.currentpage<paginator.lastpage)?true:false">
        {{paginator.lastpage}}
    </md-button>
</div>
